services:
  db:
    image: test_manage_db_test
    container_name: test_manage_db_test_cont
    build: 
      context: .
      dockerfile: Dockerfile_db
    restart: no
    ports: 
      - "5433:5432"
    volumes:
      - ./postgres/init:/docker-entrypoint-initdb.d
      - ./secure/db_pass:/run/secrets/db_pass:ro
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
      TZ: "${TZ}"
    env_file:
      - .env

  api:
    image: test_manage_api_test
    container_name: test_manage_api_test_cont
    build: 
      context: .
      dockerfile: Dockerfile_api
    restart: no
    ports: 
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_HOST: "${DB_HOST}"
      DB_NAME: "${DB_NAME}"
      DB_USER: "${DB_USER}"
      DB_PORT: "${DB_PORT}"
      DB_PASSWORD_FILE: "${DB_PASSWORD_FILE}"
      ANALYSIS_DB_NAME: "${ANALYSIS_DB_NAME}"
    volumes:
      - ./secure/api_pass:/run/secrets/api_pass:ro
    env_file:
      - .env
  app:
    image: test_manage_app_test
    container_name: test_manage_app_test_cont
    build: 
      context: .
      dockerfile: Dockerfile_app
    restart: no
    ports: 
      - "8082:8080"
      - "443:443"
    depends_on:
      - api
    environment:
      DB_HOST: "${DB_HOST}"
      DB_NAME: "${DB_NAME}"
      DB_USER: "${DB_USER}"
      DB_PORT: "${DB_PORT}"
      DB_PASSWORD_FILE: "${DB_PASSWORD_FILE}"
      ANALYSIS_DB_NAME: "${ANALYSIS_DB_NAME}"
    volumes:
      - ./secure/api_pass:/run/secrets/api_pass:ro
    env_file:
      - .env
