@page
@model TestManagement.APP.Pages.TestCases.IndexModel
@{
    ViewData["Title"] = "テストケース一覧";
}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />

    </head>
    <body>
        <div class="container">
            @if (Model.TestCases == null || Model.TestCases.Count == 0)
            {
                <div>データがありません。</div>
            }
            else
            {
                <div class="block">
                    <div class="block-title">テストケース一覧</div>
                    <table class="table-header-center">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>タイトル</th>
                                <th>説明</th>
                                <th>作成日時</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tc in Model.TestCases.OrderBy(_ => _.Id).ToList())
                            {
                                <tr>
                                    <td class="col-right">@tc.Id</td>
                                    <td>@tc.Title</td>
                                    <td>@tc.Description</td>
                                    <td>@tc.CreatedAt.ToString("yyyy/MM/dd HH:mm")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </body>
</html>
