@page
@model IndexModel
@{
    ViewData["Title"] = "TestLevels";
}

<h2>テストレベル一覧</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>レベル</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TestLevels)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
            
        }
    </tbody>
</table>
